<div class="profile-content clearfix">
	<div class="photo-column">
		<%= image_tag employee.photo.url(:profile) , :class => "profile-pic"%>
	</div>
	
	<div class="personal-info-column">
		<h2><%= employee.name %></h2>
		<table>
			<tr>
				<td class="label">
					NIK
				</td>
				<td class="value">
					<%= employee.nik %>
				</td>
			</tr>
			<tr>
				<td class="label">
					Department
				</td>
				<td class="value">
					<%= employee.division.department.name %>
				</td>
			</tr>
			
			<tr>
				<td class="label">
					Division
				</td>
				<td class="value">
					<%= employee.division.name %>
				</td>
			</tr>
			
			<tr>
				<td class="label">
					Jabatan
				</td>
				<td class="value">
					<%= employee.position.title %>
				</td>
			</tr>
			
			<tr>
				<td class="label">
					Start Date
				</td>
				<td class="value">
					<%= employee.starting_date %>
				</td>
			</tr>
	
		</table>
	</div>
</div>