<!-- For Education and Training -->

<div class="item-container"> <!-- each section is enclosed within the item-container -->
	<div class="item-detail">
		<ol start="1">
			<li>
				<div class="wrapper">
					<div class="headline">Education and Training</div>
					<div class="summary-content">
						<div class="entry">
							<%= "January 2008 - September 2008, POP Training, Internal GPS "%>
						</div>
						
						<div class="entry">
							<%= "September 2008 - January 2009, Pelatihan Teknik Dasar Tambang, ITB "%>
						</div>
						
						<div class="entry">
							<%= "July 2009 - Desember 2010, KTT Training, Universitas Parahyangan "%>
						</div>
					</div>
				</div>
			</li>
		</ol>
	</div>
</div> <!-- item-container -->


<!-- For Education and Training -->

<div class="item-container"> <!-- each section is enclosed within the item-container -->
	<div class="item-detail">
		<ol start="1">
			<li>
				<div class="wrapper">
					<div class="headline">Reward</div>
					<div class="summary-content">
						<div class="entry">
							<%= "Desember 2010  - February 2011, Extra 1 bulan cuti roster "%>
						</div>
						
						<div class="entry">
							<%= "Maret 2009, Extra 3 bulan gaji untuk perawatan kendaraan operasional "%>
						</div>
						
					</div>
				</div>
			</li>
		</ol>
	</div>
</div> <!-- item-container -->
