
<%= link_to "New" , "#new_employee_form" , :id=>"new_employee"%>

<div id="new_employee_form_wrapper" class="hidden">
	
	<div id="new_employee_form">
		<h2>Add New Employee</h2>
		<% form_for @new_employee, :html => { :multipart => true } do |form| %>
			<table>
				<tr>
					<td class="label">
						<%= form.label :name%>
					</td>
					<td class="value">
						<%= form.text_field :name %>
					</td>
				</tr>
			
				<tr>
					<td class="label">
						<%= form.label :nik%>
					</td>
					<td class="value">
						<%= form.text_field :nik %>
					</td>
				</tr>
				
				
				<tr>
					<td class="label">
						<%= form.label :department%>
					</td>
					<td class="value">
						<%= form.select(:department , @new_employee.department_selections , {:prompt => "Pilih Department"}) %>
						<!-- see this shite http://railsforum.com/viewtopic.php?id=15326 
						http://shiningthrough.co.uk/Select-helper-methods-in-Ruby-on-Rails
						-->
					</td>
				</tr>
				
				
				<tr>
					<td class="label">
						<%= form.label :category%>
					</td>
					<td class="value">
						<%= form.select(:category , @new_employee.category_selections , {:prompt => "Pilih Jabatan"}) %>
						<!-- see this shite http://railsforum.com/viewtopic.php?id=15326 
						http://shiningthrough.co.uk/Select-helper-methods-in-Ruby-on-Rails
						-->
					</td>
				</tr>
				
				
				
				
			
				<tr>
					<td class="label">
						<%= form.label :photo%>
					</td>
					<td class="value">
						<%= form.file_field :photo %>
					</td>
				</tr>
				
				<!-- LIMIIIIT -->
			
			
				<tr>
					<td class="label">
						<%= form.label :name%>
					</td>
					<td class="value">
						<%= form.text_field :name %>
					</td>
				</tr>
			
				<tr>
					<td class="label">
						<%= form.label :nik%>
					</td>
					<td class="value">
						<%= form.text_field :nik %>
					</td>
				</tr>
				
				
				<tr>
					<td class="label">
						<%= form.label :department%>
					</td>
					<td class="value">
						<%= form.select(:department , @new_employee.department_selections , {:prompt => "Pilih Department"}) %>
						<!-- see this shite http://railsforum.com/viewtopic.php?id=15326 
						http://shiningthrough.co.uk/Select-helper-methods-in-Ruby-on-Rails
						-->
					</td>
				</tr>
				
				
				<tr>
					<td class="label">
						<%= form.label :category%>
					</td>
					<td class="value">
						<%= form.select(:category , @new_employee.category_selections , {:prompt => "Pilih Jabatan"}) %>
						<!-- see this shite http://railsforum.com/viewtopic.php?id=15326 
						http://shiningthrough.co.uk/Select-helper-methods-in-Ruby-on-Rails
						-->
					</td>
				</tr>
				
				
				
				
			
				<tr>
					<td class="label">
						<%= form.label :photo%>
					</td>
					<td class="value">
						<%= form.file_field :photo %>
					</td>
				</tr>
				
				<tr>
					<td class="label">
						<%= form.label :name%>
					</td>
					<td class="value">
						<%= form.text_field :name %>
					</td>
				</tr>
			
				<tr>
					<td class="label">
						<%= form.label :nik%>
					</td>
					<td class="value">
						<%= form.text_field :nik %>
					</td>
				</tr>
				
				
				<tr>
					<td class="label">
						<%= form.label :department%>
					</td>
					<td class="value">
						<%= form.select(:department , @new_employee.department_selections , {:prompt => "Pilih Department"}) %>
						<!-- see this shite http://railsforum.com/viewtopic.php?id=15326 
						http://shiningthrough.co.uk/Select-helper-methods-in-Ruby-on-Rails
						-->
					</td>
				</tr>
				
				
				<tr>
					<td class="label">
						<%= form.label :category%>
					</td>
					<td class="value">
						<%= form.select(:category , @new_employee.category_selections , {:prompt => "Pilih Jabatan"}) %>
						<!-- see this shite http://railsforum.com/viewtopic.php?id=15326 
						http://shiningthrough.co.uk/Select-helper-methods-in-Ruby-on-Rails
						-->
					</td>
				</tr>
				
				
				
				
			
				<tr>
					<td class="label">
						<%= form.label :photo%>
					</td>
					<td class="value">
						<%= form.file_field :photo %>
					</td>
				</tr>
				
				<tr>
					<td class="label">
						<%= form.label :name%>
					</td>
					<td class="value">
						<%= form.text_field :name %>
					</td>
				</tr>
			
				<tr>
					<td class="label">
						<%= form.label :nik%>
					</td>
					<td class="value">
						<%= form.text_field :nik %>
					</td>
				</tr>
				
				
				<tr>
					<td class="label">
						<%= form.label :department%>
					</td>
					<td class="value">
						<%= form.select(:department , @new_employee.department_selections , {:prompt => "Pilih Department"}) %>
						<!-- see this shite http://railsforum.com/viewtopic.php?id=15326 
						http://shiningthrough.co.uk/Select-helper-methods-in-Ruby-on-Rails
						-->
					</td>
				</tr>
				
				
				<tr>
					<td class="label">
						<%= form.label :category%>
					</td>
					<td class="value">
						<%= form.select(:category , @new_employee.category_selections , {:prompt => "Pilih Jabatan"}) %>
						<!-- see this shite http://railsforum.com/viewtopic.php?id=15326 
						http://shiningthrough.co.uk/Select-helper-methods-in-Ruby-on-Rails
						-->
					</td>
				</tr>
				
				
				
				
			
				<tr>
					<td class="label">
						<%= form.label :photo%>
					</td>
					<td class="value">
						<%= form.file_field :photo %>
					</td>
				</tr>
				
				<tr>
					<td class="label">
						<%= form.label :name%>
					</td>
					<td class="value">
						<%= form.text_field :name %>
					</td>
				</tr>
			
				<tr>
					<td class="label">
						<%= form.label :nik%>
					</td>
					<td class="value">
						<%= form.text_field :nik %>
					</td>
				</tr>
				
				
				<tr>
					<td class="label">
						<%= form.label :department%>
					</td>
					<td class="value">
						<%= form.select(:department , @new_employee.department_selections , {:prompt => "Pilih Department"}) %>
						<!-- see this shite http://railsforum.com/viewtopic.php?id=15326 
						http://shiningthrough.co.uk/Select-helper-methods-in-Ruby-on-Rails
						-->
					</td>
				</tr>
				
				
				<tr>
					<td class="label">
						<%= form.label :category%>
					</td>
					<td class="value">
						<%= form.select(:category , @new_employee.category_selections , {:prompt => "Pilih Jabatan"}) %>
						<!-- see this shite http://railsforum.com/viewtopic.php?id=15326 
						http://shiningthrough.co.uk/Select-helper-methods-in-Ruby-on-Rails
						-->
					</td>
				</tr>
				
				
				
				
			
				<tr>
					<td class="label">
						<%= form.label :photo%>
					</td>
					<td class="value">
						<%= form.file_field :photo %>
					</td>
				</tr>
			</table>
		

			<%= form.submit %>
		<% end %>
	
	
	</div> <!-- #new_employee_form -->
</div>  <!-- #new_employee_form_wrapper -->
<ul>
	<% for employee in @employees %>
		<div>
			<%= image_tag employee.photo.url(:small) %>
			<%= "name #{employee.name}"%>
		</div>
	<% end %>
</ul>