
<%= link_to "New Employee" , "#new_employee_form" , :id=>"new_employee"%>


<%#= render :partial => "new_employee_form" %>
<div id="new_employee_form_wrapper" class="hidden">
	
	<div id="new_employee_form">
		<h2>Add New Employee</h2>
		<% form_for @new_employee, :html => { :multipart => true } do |form| %>
			<table>
				<tr>
					<td class="label">
						<%= form.label :name%>
					</td>
					<td class="value">
						<%= form.text_field :name %>
					</td>
				</tr>
			
				<tr>
					<td class="label">
						<%= form.label :nik%>
					</td>
					<td class="value">
						<%= form.text_field :nik %>
					</td>
				</tr>
				
				
				<tr>
					<td class="label">
						<%= form.label :division_id%>
					</td>
					<td class="value">
						<%#= form.select(:division_id , @new_employee.department_selections , {:prompt => "Pilih Divisi"}) %>
						<!-- see this shite http://railsforum.com/viewtopic.php?id=15326 
						http://shiningthrough.co.uk/Select-helper-methods-in-Ruby-on-Rails
						-->
						
						<%= form.select(:division_id, grouped_options_for_select(Employee.grouped_selection_for_divisions) )%>
						
			
						
					</td>
				</tr>
				
	
				
				
				
				<tr>
					<td class="label">
						<%= form.label :position_id%>
					</td>
					<td class="value">
						<%= form.select(:position_id , Employee.position_selections , {:prompt => "Pilih Jabatan"}) %>
						<!-- see this shite http://railsforum.com/viewtopic.php?id=15326 
						http://shiningthrough.co.uk/Select-helper-methods-in-Ruby-on-Rails
						-->
					</td>
				</tr>
				
				<tr>
					<td class="label">
						<%= form.label :photo%>
					</td>
					<td class="value">
						<%= form.file_field :photo %>
					</td>
				</tr>
				
				<tr>
					<td class="label">
						<%= form.label :starting_date%>
					</td>
					<td class="value">
						<%= form.date_select :starting_date %>
					</td>
				</tr>
			</table>
			<%= form.submit %>
		<% end %>
	
	
	</div> <!-- #new_employee_form -->
</div>  <!-- #new_employee_form_wrapper -->


<ul id="employee_feed">
	<% for employee in @employees %>
		<div>
			<% link_to employee_path(employee)  do %>
				<%= image_tag employee.photo.url(:small) %>
			<% end %>
			
			<%= link_to "#{employee.name}", employee_path(employee)%>
		</div>
	<% end %>
</ul>